.add_btn:hover .device-card {
    background-color: #00A76F;
    color: white;
}

.add_btn:hover .plus {
    color: white;
    
}

.add_btn, .device-card {
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.plus {
    color: #00A76F;
    font-size: 7rem;
}