.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.profile-card {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.profile-photo-container {
    position: relative;
    display: inline-block;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.change-photo-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border: none;
}

.change-photo-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ant-card-body{
    display: flex;
    justify-content: center;
}

.statistics_content {
    padding: 20px;
    text-align: center;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.charts_block {
    display: flex;
    flex-direction: column;
}  
